@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
img {
	max-width: 100%;
}
/********  
HEADER
********/
header{
    padding: 18px;
}
.container__nav{
    display: flex;
    justify-content: space-between;
}
.nav__list{
    display: flex;
    list-style: none;
}

header li{
    padding: 1px 16px;
}
/********  
HEADER
********/


/********  
MAIN
********/
section{
    background-color: rgb(171,202,227);
}
section .container{
    max-width: 1256px;
	margin: 0 auto;
}
section h1{
    font-size: 90px;
    font-weight: 900;
}
section .section__title{
    padding-top: 50px;
}
section .section__info{
    display: flex;
    margin-top: 50px;
    
}
section .info{
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    flex-basis: 50%;
    padding-bottom: 24px;
}
.button{
    display: block;
	width: max-content;
	padding: 0 12px;
	text-align: center;
	line-height: 46px;
	white-space: nowrap;
}
.button__blu{
    background-color: rgb(0,87,255);
    color: white;
}
.fa-arrow-down{
    font-size: 50px;
}
/********  
MAIN
********/



/* debug */
/* .debug{
    border: 2px dotted orange;
}
div{
    border: 2px dotted orange;
    padding: 2px;
} */