@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
img {
	max-width: 100%;
}
/********  
HEADER
********/
header{
    padding: 18px;
}
.container__nav{
    display: flex;
    justify-content: space-between;
}
.nav__list{
    display: flex;
    list-style: none;
}

header li{
    padding: 1px 16px;
}
/********  
HEADER
********/


/********  
MAIN
********/
section .container{
    max-width: 1256px;
	margin: 0 auto;
}
section h1{
    font-size: 90px;
    font-weight: 900;
}
/********  
MAIN
********/



/* debug */
.debug{
    border: 2px dotted orange;
}
div{
    border: 2px dotted orange;
    padding: 2px;
}